<div class="header">
    <div style="background-color: black; color: white; padding: 5px;">
        SFSU Software Engineering Project CSC 648-848, Fall 2019. For Demonstration Only
    </div>
    <!-- NAVBAR (logo, searchbar, sell-button and menu)-->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark" id="main-nav">
        <div class="container">

            <!-- Logo -->
            <img src="static/SFSU_logo.png" href="index" class="navbar-brand p-0"></img>

            <!-- Search bar-->
            <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
                <!-- <div class="input-group">
                    <div class="input-group-prepend">
                        <button id="button-addon2" type="submit" class="btn btn-link text-warning"><i class="fa fa-search"></i></button>
                    </div>
                    <input type="search" placeholder="What're you searching for?" aria-describedby="button-addon2"
                        class="form-control border-0 bg-light">
                </div> -->
                <form>
                    <form class="style" method="post" action=""></form>
                    <input type="text" placeholder="Search here" name="item">
                    <!-- <button type="submit"><i class="fa fa-search"></i></button> -->
               </form>
               <p></p>
               <center>
               {% for item in data %}
                   <tr>
                       <td> Post: {{item[0]}} Description: {{item[1]}} Category: {{item[2]}}</td>
                       </br>
                   </tr>
               {% endfor %}
               </center>
            </div>

            <!-- "Sell" orange button -->
            <button type="button" id="sell_button" class="btn btn-warning" style="padding: 5px;">Sell</button>

            <!-- Hamburger (instead of menu, for smaller screens) -->
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">

                <!-- Menu Items -->
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="index" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="ourTeam" class="nav-link">Our Team</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="nothingness" style="padding: 30px">
    <h1></h1>
</div>