<header class="fixed-top">
    <div style="background-color: black; color: white; padding: 5px;">
        SFSU Software Engineering Project CSC 648-848, Fall 2019. For Demonstration Only
    </div>
    <!-- NAVBAR (logo, searchbar, sell-button and menu)-->
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark" id="main-nav">

            <!-- Logo -->
            <a class="btn" href="/"><img src="static/SFSU_Quad_logo_rounded_mini.png" class="navbar-brand p-0" width="50" height="50"></a>

            <!-- Search bar-->
            <form class="col-md-7" method="post">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <select class="form-control custom-select" name="category">
                            {% for cat in cats %}
                            <option> {{cat[0]}} </option>
                            {% endfor %}
                        </select>
                    </div>
                    <input type="text" class="form-control" placeholder="Search" name="item">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-warning">Search</button>
                    </div>
                </div>
            </form>

            <a href="#" class="btn btn-success">Sell</a>

            <!-- Hamburger (instead of menu, for smaller screens) -->
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <!-- Menu Items -->
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="#" class="nav-link btn btn-outline-primary" data-toggle="modal"
                            data-target="#loginModal">Log In</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link btn btn-primary" data-toggle="modal" data-target="#signupModal">Sign Up</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>

<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Log In</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="loginEmail">Email address</label>
                        <input type="email" class="form-control" id="loginEmail" aria-describedby="emailHelp"
                            placeholder="Enter email" required>
                        <small id="emailHelp" class="form-text text-muted">Email must end in '@mail.sfsu.edu'</small>
                    </div>
                    <div class="form-group">
                        <label for="loginPw">Password</label>
                        <input type="password" class="form-control" id="loginPw" placeholder="Password" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Log In</button>
                </form>
            </div>
            <div class="modal-footer">
                <a href="#">Forgot Password</a>
            </div>
        </div>
    </div>
</div>

<!-- Signup Modal -->
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="signupModalLabel">Sign Up</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="signupEmail">Email address</label>
                        <input type="email" class="form-control" id="signupEmail" aria-describedby="emailHelp"
                            placeholder="Enter email" required>
                    </div>
                    <div class="form-group">
                        <label for="signupPw">Password</label>
                        <input type="password" class="form-control" id="signupPw" placeholder="Password" required>
                    </div>
                    <div class="form-group">
                        <label for="signupRePw">Re-Enter Password</label>
                        <input type="password" class="form-control" id="signupRePw" placeholder="Re-Enter Password" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
</div>