<div class="fixed-top">
    <div style="background-color: black; color: white; padding: 5px;">
        SFSU Software Engineering Project CSC 648-848, Fall 2019. For Demonstration Only
    </div>
    <!-- NAVBAR (logo, searchbar, sell-button and menu)-->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark" id="main-nav">
        <div class="container">

            <!-- Logo -->
            <a class="btn" href="/"><img src="static/SFSU_logo.png" class="navbar-brand p-0"></a>

            <!-- Search bar-->
            <form class="col-md-7">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <select class="form-control custom-select">
                            <option value="*">All</option>
                            <option value="0">Books</option>
                            <option value="1">Furniture</option>
                            <option value="2">Electronics</option>
                            <option value="3">Supplies</option>
                            <option value="4">TBD</option>
                            <option value="5">TBD</option>
                            <option value="6">TBD</option>
                            <option value="7">TBD</option>
                            <option value="8">TBD</option>
                        </select>
                    </div>
                    <input type="text" class="form-control" placeholder="Search">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-warning">Search</button>
                    </div>
                </div>
            </form>

            <a href="#" class="btn btn-success mb-3">Sell</a>

            <!-- Hamburger (instead of menu, for smaller screens) -->
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <!-- Menu Items -->
                <ul class="navbar-nav ml-auto mb-3">
                    <li class="nav-item">
                        <a href="#" class="nav-link" data-toggle="modal" data-target="#loginModal">Log In</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link btn btn-outline-primary">Sign Up</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="nothingness" style="padding: 30px">
    <h1></h1>
</div>

<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Log In</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script>
    $('input:text').attr('placeholder', 'Search');
</script>