{% extends 'application.html' %}
{% block body %}
<!-- CAROUSEL SECTION -->
<!-- Note: Right now it's a single photo carousel. It will be populated with different banners in the future -->
<section id="showcase">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item carousel-image-1 active">
        <!-- 'dark-verlay' makes background image a bit darker so user can see foreground text clearer -->
        <div class="dark-overlay">
          <div class="container">
            <div class="carousel-caption  text-right mb-5">
              <h1 class="display-5" id="img-text">Welcome to Team 8 Website!</h1>
              <a href="ourTeam" class="btn btn-danger btn-lg">About Us</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <a href="#myCarousel" data-slide="prev" class="carousel-control-prev">
      <span class="carousel-control-prev-icon"></span>
    </a>

    <a href="#myCarousel" data-slide="next" class="carousel-control-next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
  </div>
</section>
{% endblock %}