{% extends 'application.html' %}
{% block body %}
<!-- USER DASHBOARD SECTION -->
<section id="dashboards">
   <br><br>
  <h3>Hello [username], </h1>
  <div class="form-group">
        <label for="exampleFormControlTextarea3">My Postings</label>
        <textarea class="form-control" id="exampleFormControlTextarea3" rows="4">
            POSTING 1 TITLE                Link                  Status:Active                REMOVE
            POSTING 2 TITLE                Link                  Status:Removed               
            POSTING 3 TITLE                Link                  Status:Active                REMOVE
            POSTING 4 TITLE                Link                  Status:Removed               
            POSTING 5 TITLE                Link                  Status:Active                REMOVE
            POSTING 6 TITLE                Link                  Status:Active                REMOVE
        </textarea>
  </div>
  <br>
  <div class="form-group">
      <label for="exampleFormControlTextarea3">Messages</label>
      <textarea class="form-control" id="exampleFormControlTextarea3" rows="4">
          From: username1          Subject: Posting 1 Title           Message            Reply
          From: username4          Subject: Posting 3 Title           Message            Reply
          From: username2          Subject: Posting 5 Title           Message            Reply
          From: username8          Subject: Posting 1 Title           Message            Reply
      </textarea>
</div>
</section>
{% endblock %}